---
- name: Install puppet
  command: ./install_puppet.sh
  args:
    chdir: "{{ zuul.projects['git.openstack.org/openstack-infra/system-config'].src_dir }}"
  become: yes
- name: Install modules
  command: ./tools/install_modules_acceptance.sh
  args:
    chdir: "{{ zuul.projects['git.openstack.org/openstack-infra/system-config'].src_dir }}"
  become: yes
- name: Run puppet apply
  command: env PATH=$PATH:/opt/puppetlabs/bin puppet apply tests/fixtures/default.pp
  args:
    chdir: "{{ zuul.project.src_dir }}"
  become: yes
- name: Check results
  command: ./tests/run-tests.sh
  args:
    chdir: "{{ zuul.project.src_dir }}"
