---
- name: Install puppet
  command: ./install_puppet.sh
  args:
    chdir: "{{ zuul.projects['git.openstack.org/openstack-infra/system-config'].src_dir }}"
  become: yes
- name: Install modules
  command: ./tools/install_modules_acceptance.sh
  args:
    chdir: "{{ zuul.projects['git.openstack.org/openstack-infra/system-config'].src_dir }}"
  become: yes
- name: Get scenarios
  command: ls "{{ zuul.project.src_dir }}/tests/scenarios/"
  register: scenarios
- name: Test scenarios
  include: scenario.yml
  with_items: scenarios.stdout_lines
  loop_control:
    loop_var: scenario
